/* **************************Organization************************** */
.reactOrgChart {
    margin: 2px;
}

.reactOrgChart .orgNodeChildGroup .node {
    border: solid 1px #000000;
    display: inline-block;
    padding: 4px;
    width: 100px;
}

.reactOrgChart .orgNodeChildGroup .nodeCell {
    text-align: center;
}

.reactOrgChart .orgNodeChildGroup .nodeGroupCell {
    vertical-align: top;
}

.reactOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
    height: 25px;
    width: 50%;
    border-right: 2px solid #000;
}

.reactOrgChart .nodeLineBorderTop {
    border-top: solid 2px #000;
}

.reactOrgChart table {
    border-collapse: collapse;
    border: none;
    margin: 0 auto;
}

.reactOrgChart td {
    padding: 0;
}

.reactOrgChart table.nodeLineTable {
    width: 100%;
}

.reactOrgChart table td.nodeCell {
    width: 50%;
}

.org-node {
    border-radius: 3px;
    padding: 5px 5px;
    margin: 0 5px;
    min-width: 100px;
    display: inline-block;
    font-size: 12px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    cursor: pointer;
    position: relative;
}

.org-view-container .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
    border-right: 2px solid #A3B4BC !important;
}

.org-view-container .nodeLineBorderTop {
    border-top: 2px solid #A3B4BC !important;
}

.org-view-container {
    padding: 5px;
    height: 100%;
}

.reactOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
    height: 40px !important;
}

.org-node::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border: 2px solid #A3B4BC;
    border-radius: 8px;
    background: white;
    text-align: center;
    left: calc(50% - 7.5px);
    top: -28px;
}

.reactOrgChart>.orgNodeChildGroup>tbody>tr:first-child .org-node::before {
    content: none;
}

.org-node-type-1 {
    color: #FFFFFF;
}

.org-node-type-2 {
    color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.org-node-selected {
    color: #FFFFFF;
}

.legend-bullet>span {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    border: 1px solid #8c8c8c !important;
}



/* Designation Hierarchy */
.tree-view {
    font-size: 15px;
    padding-left: 4px;
    margin-bottom: 30px;
}

.tree-view ul {
    list-style: none;
    padding-left: 20px;
}
.tree-view .input-node {
    width: 200px !important;
}

.tree-view .select-node {
    min-width: 200px;
    border-radius: 0.2rem;
    border: 1px solid #e0e3e6;
    height: 40px;
}

.tree-view .select-node .Select {
    width: 100%;
}

.tree-view .select-node .Select>.Select-control {
    border: none;
}

.tree-view .select-node .Select>.Select-menu-outer {
    margin-top: 1px;
}

.tree-view-btn-grp {
    padding-left: 20px;
}

.tree-view-btn-grp>.fa {
    font-size: 20px;
    color: #3572b0;
}

.tree-view-btn-grp>.fa:not(:last-child) {
    margin-right: 5px;
}


/* *********************** */

.tree-view li {
    position: relative;
    padding-top: 10px;
}

.tree-view li::before {
    border-left: 1px solid #26A1FD;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px;
}

.tree-view>ul>li {
    margin-left: 5px;
}

.tree-view>ul>li::after {
    content: none;
}

.tree-view li:first-child::before {
    top: 28px;
}


.tree-view li:first-child::after {
    border-top: 2px solid #26A1FD;
    height: 20px;
    top: 28.5px;
    width: 20px;
    margin-left: -20px;
}

.tree-view li:only-child::before {
    content: none;
}

.tree-view li:last-child::before {
    height: 30px;
}

.tree-view>ul>li::before {
    content: '' !important;
    height: 100%;
}

.tree-view li::before,
.tree-view li::after {
    content: '';
    left: -20px;
    position: absolute;
    right: auto;
}
.tree-view .dropdown-menu {
    box-shadow: 3px 3px 15px 0px rgba(181, 181, 181, 1);
    border: none;
}

.tree-view .dropdown-item:not(:active) {
    color: #7f8b97;
}

.tree-view .dropdown-item {
    font-weight: 100;
    font-size: 15px;
}

.tree-view .add-node {
    width: fit-content;
    padding: 0 15px;
    border-radius: 15px;
    border: 1px solid #3572b063;
    margin-top: 7px;
    cursor: pointer;
}

.tree-view .node-bullet {
    width: 10px;
    height: 10px;
    position: absolute;
    background: #26A1FD;
    left: -24px;
    top: 24px;
    border-radius: 5px;
    z-index: 1;
}

.tree-view>ul>li>.node-bullet:first-child {
    background-image: url(images/globe.svg);
    background-size: 20px;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    left: -29px;
}

.tree-view .node-bullet-o {
    width: 12px;
    height: 12px;
    position: absolute;
    background: #FFFFFF;
    left: -25px;
    top: 22px;
    border-radius: 6px;
    z-index: 1;
    border: 1px solid #26A1FD;
}

.tree-view input {
    border: none;
    /* border-bottom: 1px solid #ccc; */
    outline: none;
}

.tree-view b {
    font-weight: bold;
    color: #000000;
}


.tree-node .node-label {
    border-radius: 0.2rem;
    border: 1px solid #e0e3e6;
    padding: 0.2rem 0.5rem;
    height: 40px;
}

.menu-icon-o {
    height: 32px;
    width: 32px;
    line-height: 32px;
    background-image: url('images/more_horiz_2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    border: 1px solid #DADADA;
    border-radius: 50%;
}

.menu-icon-o:hover,
.dropdown.show>.menu-icon-o {
    background-image: url('images/more_horiz_1.svg');
    background-color: #26a1fd;
    border: 1px solid #26a1fd;
    color: #fff;
}

/* ********************** */
/* **************************************************** */

/* Channel Partner  */
.profile-disp-pic {
    flex: 0 0 100px;
    height: 100px;
    line-height: 100px;
    background: #0094aa;
    text-align: center;
    padding-top: 5px;
}

.profile-disp-pic:before {
    content:'\f007';
    font: 90px/1 FontAwesome;
    color: #ffffff;
}