.profile-disp-pic {
    flex: 0 0 100px;
    height: 100px;
    line-height: 100px;
    background: #0094aa;
    text-align: center;
    padding-top: 5px;
}

.profile-disp-pic:before {
    content:'\f007';
    font: 90px/1 FontAwesome;
    color: #ffffff;
}